In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("parsed_logs.csv")

In [3]:
df[df["config"] == "cifar100_mobilenetv2_x1_4"]

Empty DataFrame
Columns: [start_dt, config, ecc, hostname, it, ker_time, acc_time, ker_err, acc_err, sdc, critical_sdc]
Index: []

In [4]:
df = df[df["config"] != "main.py"]

In [5]:
configs = dict(
    # Baseline C100
    BaseC100="c100_res44_test_01_bn-relu_base.yaml",
    # "c100_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C100
    OrderInvC100="c100_res44_test_02_relu6-bn_200_epochs.yaml",
    # "c100_res44_test_02_bn-relu6_base.yaml",
    # Order inversion + nan filter + Relu6
    OINanRelu6C100="c100_res44_test_02_relu6-bn_200_epochs_nanfilter.yaml",
    # Gelu and nan C100
    GeluNanC100="c100_res44_test_02_gelu6_nans.yaml",

    # Baseline C10
    BaseC10="c10_res44_test_01_bn-relu_base.yaml",
    # "c10_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C10
    OrderInvC10="c10_res44_test_02_relu6-bn_200_epochs.yaml",
    # "c10_res44_test_02_bn-relu6_base.yaml",
    OINanRelu6C10="c10_res44_test_02_relu6-bn_200_epochs_nanfilter.yaml",
    # Gelu and nan C10
    GeluNanC10="c10_res44_test_02_gelu6_nans.yaml",

    MobileNetC100="cifar100_mobilenetv2_x1_4.yaml",
    MobileNetC10="cifar10_mobilenetv2_x1_4.yaml"
)
configs_inv = {v.replace(".yaml", ""): k for k, v in configs.items()}

In [6]:
configs_df = pd.DataFrame([configs]).T.reset_index().rename(columns={0:"YAML", "index": "config"})

In [7]:
configs_df

           config                                               YAML
0        BaseC100               c100_res44_test_01_bn-relu_base.yaml
1    OrderInvC100        c100_res44_test_02_relu6-bn_200_epochs.yaml
2  OINanRelu6C100  c100_res44_test_02_relu6-bn_200_epochs_nanfilt...
3     GeluNanC100                 c100_res44_test_02_gelu6_nans.yaml
4         BaseC10                c10_res44_test_01_bn-relu_base.yaml
5     OrderInvC10         c10_res44_test_02_relu6-bn_200_epochs.yaml
6   OINanRelu6C10  c10_res44_test_02_relu6-bn_200_epochs_nanfilte...
7      GeluNanC10                  c10_res44_test_02_gelu6_nans.yaml
8   MobileNetC100                     cifar100_mobilenetv2_x1_4.yaml
9    MobileNetC10                      cifar10_mobilenetv2_x1_4.yaml

In [8]:
df["config"] = df["config"].apply(lambda x: configs_inv[x])

In [9]:
df["count"] = 1

In [10]:
grouped_df = df.groupby(["config"]).sum()

In [11]:
grouped_df

,it,ker_time,acc_time,ker_err,acc_err,sdc,critical_sdc,count
config,,,,,,,,
BaseC100,823386,2.526905,10152.78036,66939,344437,132,6,132

In [12]:
grouped_df[["sdc", "critical_sdc", "ker_err", "count"]].to_csv("avf.csv")

In [13]:
grouped_df

,it,ker_time,acc_time,ker_err,acc_err,sdc,critical_sdc,count
config,,,,,,,,
BaseC100,823386,2.526905,10152.78036,66939,344437,132,6,132