In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("../data/parsed_logs.csv")

In [13]:
configs = dict(
    # Baseline C100
    BaseC100="c100_res44_test_01_bn-relu_base.yaml",
    # "c100_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C100
    OrderInvC100="c100_res44_test_02_relu6-bn.yaml",
    # "c100_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C100="c100_res44_test_02_bn-relu6_base.yaml",
    BnRelu6C100="c100_res44_test_02_bn-relu6.yaml",
    # Order inversion + nan filter + Relu6
    OrderINanRelu6C100="c100_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C100
    GeluNanC100="c100_res44_test_02_gelu6_nans.yaml",

    # Baseline C10
    BaseC10="c10_res44_test_01_bn-relu_base.yaml",
    # "c10_res44_test_02_bn-relu6.yaml",
    BnRelu6C10="c10_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C10
    OrderInvC10="c10_res44_test_02_relu6-bn.yaml",
    # "c10_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C10="c10_res44_test_02_bn-relu6_base.yaml",
    OrderINanRelu6C10="c10_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C10
    GeluNanC10="c10_res44_test_02_gelu6_nans.yaml",

    MobileNetC100="cifar100_mobilenetv2_x1_4.yaml",
    MobileNetC10="cifar10_mobilenetv2_x1_4.yaml",

    Resnet50ImagenetBase="imagenet1k_v2_base"
)
configs_inv = {v.replace(".yaml", ""): k for k, v in configs.items()}

In [14]:
configs_df = pd.DataFrame([configs]).T.reset_index().rename(columns={0: "YAML", "index": "config"})

In [15]:
configs_df

                  config                                        YAML
0               BaseC100        c100_res44_test_01_bn-relu_base.yaml
1           OrderInvC100            c100_res44_test_02_relu6-bn.yaml
2        BaseBnRelu6C100       c100_res44_test_02_bn-relu6_base.yaml
3            BnRelu6C100            c100_res44_test_02_bn-relu6.yaml
4     OrderINanRelu6C100  c100_res44_test_02_relu6-bn_nanfilter.yaml
5            GeluNanC100          c100_res44_test_02_gelu6_nans.yaml
6                BaseC10         c10_res44_test_01_bn-relu_base.yaml
7             BnRelu6C10             c10_res44_test_02_bn-relu6.yaml
8            OrderInvC10             c10_res44_test_02_relu6-bn.yaml
9         BaseBnRelu6C10        c10_res44_test_02_bn-relu6_base.yaml
10     OrderINanRelu6C10   c10_res44_test_02_relu6-bn_nanfilter.yaml
11            GeluNanC10           c10_res44_test_02_gelu6_nans.yaml
12         MobileNetC100              cifar100_mobilenetv2_x1_4.yaml
13          MobileNetC10               cifar10_mobilenetv2_x1_4.yaml
14  Resnet50ImagenetBase                          imagenet1k_v2_base

In [16]:
df["config"] = df["config"].apply(lambda x: configs_inv[x])

In [17]:
df["count"] = 1

In [22]:
to_save = df.groupby(["hostname", "config"]).sum()

In [23]:
to_save

,,it,ker_time,acc_time,ker_err,acc_err,sdc,critical_sdc,count
hostname,config,,,,,,,,
carolp20002,BaseC100,991823,5.803811,28526.412081,59527,244539,192,6,192
carolp20003,BaseC10,221793,15.118720,6264.320034,4011,13780,391,0,391