In [94]:
import pandas as pd

In [95]:
df = pd.read_csv("../data/parsed_logs.csv")

In [96]:
df

,start_dt,config,ecc,hostname,logfile,it,ker_time,acc_time,ker_err,acc_err,sdc,critical_sdc
0,2022-12-09 16:50:47,c10_res44_test_01_bn-relu_base,OFF,carolp20003,2022_12_09_16_50_47_c10_res44_test_01_bn-relu_...,1,0.160242,0.000000,10,10,1,0
1,2022-12-09 16:50:47,c10_res44_test_01_bn-relu_base,OFF,carolp20003,2022_12_09_16_50_47_c10_res44_test_01_bn-relu_...,4,0.034700,0.000000,10,20,1,0
2,2022-12-09 16:50:47,c10_res44_test_01_bn-relu_base,OFF,carolp20003,2022_12_09_16_50_47_c10_res44_test_01_bn-relu_...,10,0.032238,0.000000,10,30,1,0
3,2022-12-09 16:50:47,c10_res44_test_01_bn-relu_base,OFF,carolp20003,2022_12_09_16_50_47_c10_res44_test_01_bn-relu_...,11,0.030591,0.497167,10,40,1,0
4,2022-12-10 15:57:27,deeplabv3_resnet50_base,OFF,carolp20003,2022_12_10_15_57_27_deeplabv3_resnet50_base_EC...,1,2.880052,0.000000,16,16,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12420,2022-12-11 22:57:26,c100_res44_test_02_bn-relu6_base,OFF,carolp20002,2022_12_11_22_57_26_c100_res44_test_02_bn-relu...,576,0.030950,18.682935,4096,8792,1,1
12421,2022-12-10 13:54:06,c100_res44_test_02_relu6-bn_nanfilter,OFF,carolp20002,2022_12_10_13_54_06_c100_res44_test_02_relu6-b...,305,0.034493,10.728321,100,100,1,0
12422,2022-12-11 08:45:35,c100_res44_test_02_relu6-bn_nanfilter,OFF,carolp20002,2022_12_11_08_45_35_c100_res44_test_02_relu6-b...,183,0.034582,0.000000,99,99,1,0
12423,2022-12-11 08:45:35,c100_res44_test_02_relu6-bn_nanfilter,OFF,carolp20002,2022_12_11_08_45_35_c100_res44_test_02_relu6-b...,292,0.034229,0.000000,85,184,1,0
12424,2022-12-11 08:45:35,c100_res44_test_02_relu6-bn_nanfilter,OFF,carolp20002,2022_12_11_08_45_35_c100_res44_test_02_relu6-b...,988,0.034429,34.352688,100,284,1,0

In [97]:
configs = dict(
    # Baseline C100
    BaseC100="c100_res44_test_01_bn-relu_base.yaml",
    # "c100_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C100
    OrderInvC100="c100_res44_test_02_relu6-bn.yaml",
    # "c100_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C100="c100_res44_test_02_bn-relu6_base.yaml",
    BnRelu6C100="c100_res44_test_02_bn-relu6.yaml",
    # Order inversion + nan filter + Relu6
    OrderINanRelu6C100="c100_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C100
    GeluNanC100="c100_res44_test_02_gelu6_nans.yaml",

    # Baseline C10
    BaseC10="c10_res44_test_01_bn-relu_base.yaml",
    # "c10_res44_test_02_bn-relu6.yaml",
    BnRelu6C10="c10_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C10
    OrderInvC10="c10_res44_test_02_relu6-bn.yaml",
    # "c10_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C10="c10_res44_test_02_bn-relu6_base.yaml",
    OrderINanRelu6C10="c10_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C10
    GeluNanC10="c10_res44_test_02_gelu6_nans.yaml",

    MobileNetC100="cifar100_mobilenetv2_x1_4.yaml",
    MobileNetC10="cifar10_mobilenetv2_x1_4.yaml",

    Resnet50ImagenetBase="imagenet1k_v2_base",
    DeepLabV3="deeplabv3_resnet50_base"
)
configs_inv = {v.replace(".yaml", ""): k for k, v in configs.items()}

In [98]:
configs_df = pd.DataFrame([configs]).T.reset_index().rename(columns={0: "YAML", "index": "config"})

In [99]:
configs_df

                  config                                        YAML
0               BaseC100        c100_res44_test_01_bn-relu_base.yaml
1           OrderInvC100            c100_res44_test_02_relu6-bn.yaml
2        BaseBnRelu6C100       c100_res44_test_02_bn-relu6_base.yaml
3            BnRelu6C100            c100_res44_test_02_bn-relu6.yaml
4     OrderINanRelu6C100  c100_res44_test_02_relu6-bn_nanfilter.yaml
5            GeluNanC100          c100_res44_test_02_gelu6_nans.yaml
6                BaseC10         c10_res44_test_01_bn-relu_base.yaml
7             BnRelu6C10             c10_res44_test_02_bn-relu6.yaml
8            OrderInvC10             c10_res44_test_02_relu6-bn.yaml
9         BaseBnRelu6C10        c10_res44_test_02_bn-relu6_base.yaml
10     OrderINanRelu6C10   c10_res44_test_02_relu6-bn_nanfilter.yaml
11            GeluNanC10           c10_res44_test_02_gelu6_nans.yaml
12         MobileNetC100              cifar100_mobilenetv2_x1_4.yaml
13          MobileNetC10               cifar10_mobilenetv2_x1_4.yaml
14  Resnet50ImagenetBase                          imagenet1k_v2_base
15             DeepLabV3                     deeplabv3_resnet50_base

In [100]:
df["config"] = df["config"].apply(lambda x: configs_inv[x])

In [101]:
df["count"] = 1

In [102]:
to_save = df.groupby(["hostname", "config"]).sum()

In [103]:
to_save

                                      it    ker_time      acc_time  ker_err  \
hostname    config
carolp20002 BaseBnRelu6C10       1367561   13.136374   9732.987719    20292
            BaseBnRelu6C100      6020650    9.582380   7936.436636    75766
            BaseC10               315910    0.867422    418.567306      279
            BaseC100             3853800   58.007232  18513.751907   363524
            OrderINanRelu6C100   3928298   32.058702  24246.866930   320607
carolp20003 BaseC10             10518719  328.480168  13168.168211   273075
            DeepLabV3                533  411.133467   1056.131899     2320
            OrderINanRelu6C10     739228    6.600515   8366.615890     4964

                                 acc_err   sdc  critical_sdc  count
hostname    config
carolp20002 BaseBnRelu6C10         86597   337             7    337
            BaseBnRelu6C100       833243   298             5    298
            BaseC10                 4464    31             0     31
            BaseC100            11251915  1839            38   1839
            OrderINanRelu6C100   1392214   835            18    835
carolp20003 BaseC10             22226880  8839           218   8839
            DeepLabV3               3776   145             0    145
            OrderINanRelu6C10      27723   101             7    101

In [104]:
sdc_rate = to_save[["acc_time", "sdc", "critical_sdc"]].copy()
sdc_rate["sdc_rate"] = sdc_rate["sdc"] / sdc_rate["acc_time"]
sdc_rate["critical_sdc_rate"] = sdc_rate["critical_sdc"] / sdc_rate["acc_time"]

In [105]:
sdc_rate

                                    acc_time   sdc  critical_sdc  sdc_rate  \
hostname    config
carolp20002 BaseBnRelu6C10       9732.987719   337             7  0.034625
            BaseBnRelu6C100      7936.436636   298             5  0.037548
            BaseC10               418.567306    31             0  0.074062
            BaseC100            18513.751907  1839            38  0.099332
            OrderINanRelu6C100  24246.866930   835            18  0.034437
carolp20003 BaseC10             13168.168211  8839           218  0.671240
            DeepLabV3            1056.131899   145             0  0.137293
            OrderINanRelu6C10    8366.615890   101             7  0.012072

                                critical_sdc_rate
hostname    config
carolp20002 BaseBnRelu6C10               0.000719
            BaseBnRelu6C100              0.000630
            BaseC10                      0.000000
            BaseC100                     0.002053
            OrderINanRelu6C100           0.000742
carolp20003 BaseC10                      0.016555
            DeepLabV3                    0.000000
            OrderINanRelu6C10            0.000837