In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("parsed_logs_fi.csv")

In [18]:
df["config"].unique()

array(['c10_res44_test_02_bn-relu6',
       'c10_res44_test_02_relu6-bn_nanfilter',
       'c10_res44_test_02_bn-relu6_base', 'c10_res44_test_02_gelu6_nans',
       'c10_res44_test_02_relu6-bn', 'c10_res44_test_01_bn-relu_base'],
      dtype=object)

In [19]:
configs = dict(
    # Baseline C100
    BaseC100="c100_res44_test_01_bn-relu_base.yaml",
    # "c100_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C100
    OrderInvC100="c100_res44_test_02_relu6-bn.yaml",
    # "c100_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C100="c100_res44_test_02_bn-relu6_base.yaml",
    BnRelu6C100="c100_res44_test_02_bn-relu6.yaml",
    # Order inversion + nan filter + Relu6
    OINanRelu6C100="c100_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C100
    GeluNanC100="c100_res44_test_02_gelu6_nans.yaml",

    # Baseline C10
    BaseC10="c10_res44_test_01_bn-relu_base.yaml",
    # "c10_res44_test_02_bn-relu6.yaml",
    BnRelu6C10="c10_res44_test_02_bn-relu6.yaml",
    # Order inversion with relu6 C10
    OrderInvC10="c10_res44_test_02_relu6-bn.yaml",
    # "c10_res44_test_02_bn-relu6_base.yaml",
    BaseBnRelu6C10="c10_res44_test_02_bn-relu6_base.yaml",
    OINanRelu6C10="c10_res44_test_02_relu6-bn_nanfilter.yaml",
    # Gelu and nan C10
    GeluNanC10="c10_res44_test_02_gelu6_nans.yaml",

    MobileNetC100="cifar100_mobilenetv2_x1_4.yaml",
    MobileNetC10="cifar10_mobilenetv2_x1_4.yaml"
)
configs_inv = {v.replace(".yaml", ""): k for k, v in configs.items()}

In [20]:
configs_df = pd.DataFrame([configs]).T.reset_index().rename(columns={0:"YAML", "index": "config"})

In [21]:
configs_df

             config                                        YAML
0          BaseC100        c100_res44_test_01_bn-relu_base.yaml
1      OrderInvC100            c100_res44_test_02_relu6-bn.yaml
2   BaseBnRelu6C100       c100_res44_test_02_bn-relu6_base.yaml
3       BnRelu6C100            c100_res44_test_02_bn-relu6.yaml
4    OINanRelu6C100  c100_res44_test_02_relu6-bn_nanfilter.yaml
5       GeluNanC100          c100_res44_test_02_gelu6_nans.yaml
6           BaseC10         c10_res44_test_01_bn-relu_base.yaml
7        BnRelu6C10             c10_res44_test_02_bn-relu6.yaml
8       OrderInvC10             c10_res44_test_02_relu6-bn.yaml
9    BaseBnRelu6C10        c10_res44_test_02_bn-relu6_base.yaml
10    OINanRelu6C10   c10_res44_test_02_relu6-bn_nanfilter.yaml
11       GeluNanC10           c10_res44_test_02_gelu6_nans.yaml
12    MobileNetC100              cifar100_mobilenetv2_x1_4.yaml
13     MobileNetC10               cifar10_mobilenetv2_x1_4.yaml

In [22]:
df["config"] = df["config"].apply(lambda x: configs_inv[x])

In [23]:
df["count"] = 1

In [24]:
grouped_df = df.groupby(["hostname", "config"]).sum()

In [25]:
grouped_df

                                it   ker_time    acc_time  ker_err  acc_err  \
hostname        config
caroltitaninria BaseBnRelu6C10  38  75.975368  108.599389      256      256
                BaseC10         41  64.299559  107.594187      237      237
                BnRelu6C10      41  62.459979  103.223314      250      250
                GeluNanC10      38  71.632299  107.501250      243      243
                OINanRelu6C10   44  56.907990  108.337243      245      245
                OrderInvC10     35  79.163110  103.647046      240      240

                                sdc  critical_sdc  has_end  count
hostname        config
caroltitaninria BaseBnRelu6C10   26             0       26     26
                BaseC10          25             8       25     25
                BnRelu6C10       26             0       26     26
                GeluNanC10       26             0       26     26
                OINanRelu6C10    26             0       26     26
                OrderInvC10      26             0       26     26

In [27]:
grouped_df[["sdc", "critical_sdc", "acc_time"]]

                                sdc  critical_sdc    acc_time
hostname        config
caroltitaninria BaseBnRelu6C10   26             0  108.599389
                BaseC10          25             8  107.594187
                BnRelu6C10       26             0  103.223314
                GeluNanC10       26             0  107.501250
                OINanRelu6C10    26             0  108.337243
                OrderInvC10      26             0  103.647046

In [28]:
grouped_df["sdc_rate"] = grouped_df["sdc"] / grouped_df["acc_time"]
grouped_df["critical_sdc_rate"] = grouped_df["critical_sdc"] / grouped_df["acc_time"]

In [29]:
grouped_df

                                it   ker_time    acc_time  ker_err  acc_err  \
hostname        config
caroltitaninria BaseBnRelu6C10  38  75.975368  108.599389      256      256
                BaseC10         41  64.299559  107.594187      237      237
                BnRelu6C10      41  62.459979  103.223314      250      250
                GeluNanC10      38  71.632299  107.501250      243      243
                OINanRelu6C10   44  56.907990  108.337243      245      245
                OrderInvC10     35  79.163110  103.647046      240      240

                                sdc  critical_sdc  has_end  count  sdc_rate  \
hostname        config
caroltitaninria BaseBnRelu6C10   26             0       26     26  0.239412
                BaseC10          25             8       25     25  0.232355
                BnRelu6C10       26             0       26     26  0.251881
                GeluNanC10       26             0       26     26  0.241858
                OINanRelu6C10    26             0       26     26  0.239991
                OrderInvC10      26             0       26     26  0.250851

                                critical_sdc_rate
hostname        config
caroltitaninria BaseBnRelu6C10           0.000000
                BaseC10                  0.074353
                BnRelu6C10               0.000000
                GeluNanC10               0.000000
                OINanRelu6C10            0.000000
                OrderInvC10              0.000000

In [30]:
grouped_df[["sdc", "has_end", "critical_sdc", "acc_time", "sdc_rate", "critical_sdc_rate"]]

                                sdc  has_end  critical_sdc    acc_time  \
hostname        config
caroltitaninria BaseBnRelu6C10   26       26             0  108.599389
                BaseC10          25       25             8  107.594187
                BnRelu6C10       26       26             0  103.223314
                GeluNanC10       26       26             0  107.501250
                OINanRelu6C10    26       26             0  108.337243
                OrderInvC10      26       26             0  103.647046

                                sdc_rate  critical_sdc_rate
hostname        config
caroltitaninria BaseBnRelu6C10  0.239412           0.000000
                BaseC10         0.232355           0.074353
                BnRelu6C10      0.251881           0.000000
                GeluNanC10      0.241858           0.000000
                OINanRelu6C10   0.239991           0.000000
                OrderInvC10     0.250851           0.000000